*{
	font-family: monospace;
}



.fundo{
	margin: 0 auto 20px auto;
}

.caixa{
	float: left;
	width: 100%;
	margin: 0.5%
}

.caixa2{
	width: 32%;
}

.branco{
	background-color: white
}

.clearfix {
	content: ' ';
	display: table;
}
