*{
	font-family: monospace;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

.fundo{
	margin: 0 auto 20px auto;
}

.caixa{
	float: left;
	width: 100%;
	margin: 0.5%
}

.caixa2{
	width: 15.66667%;
}

.branco{
	background-color: white
}

.clearfix {
	content: ' ';
	display: table;
}

.green{
	background-color: #8bc74c
}

.purple{
	background-color: #8844ee
}

.blue{
	background-color: #04aded
}

.yellow{
	background-color: #fff42b
}

.red{
	background-color: red
}