*{
	font-family: monospace;
}

.fundo{
	margin: 0 auto 20px auto;
	border: 2px;
	border-color: red;
}

.caixa{
	float: left;
	text-align: left;
	text-anchor: middle;
	width: 100%;
	margin: 0.5%
}

.caixa2{
	width: 32%;
}

.branco{
	background-color: white
}

